body{
    margin: 0;
    background-color: white;
  }

  .parallax--flex {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1d1e22;
    overflow: hidden;
    height: 95vh;
  }

  #parallax--left {
    width: 30%;
    height: 100vh;
    background-image: url(Bladje1.png), url(Bladje2-flipped.png), url(bladje3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: 30rem 30rem;
    margin-left: -10rem;
    z-index: 2;
  }
  #parallax--right {
    width: 30%;
    height: 100vh;
    background-image: url(Bladje2.png), url(Bladje1-flipped.png), url(Bladje3-flipped.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: 30rem 30rem;
    margin-right: -10rem;
    z-index: 2;
  }

  @keyframes plants {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(3deg);}
    50% {transform: rotate(1deg);}
    75% {transform: rotate(3deg);}
    100% {transform: rotate(0deg);}
  }

  #parallax--right:hover {
    animation: plants 5s ease-in-out infinite;
  }

  #parallax--left:hover {
    animation: plants 5s ease-in-out infinite;
  }

  .top--left {
    position: absolute;
    top: 0;
    left: 0;
    width: calc((100vw - 85rem)/2);
    height: 5vh;
    background-color: white;
    z-index: 1;
  }

  .top--right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc((100vw - 85rem)/2);
    height: 5vh;
    background-color: white;
    z-index: 1;
  }


  .left {
    position: absolute;
    left: 0;
    background-color: white;
    height: 100%;
    width: 2.5rem;
    z-index: 50;
  }

  .right {
    position: absolute;
    right: 0;
    background-color: white;
    height: 100%;
    width: 2.5rem;
    z-index: 100;
    z-index: 50;
  }

  .test {
    height: 100rem;
    background-color: #1d1e22;
    max-width: 85rem;
    margin: 0 auto;
    margin-top: -3.5rem;
  }

  h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Arial";
    text-transform: uppercase;
    opacity: .2;
    font-size: 70px;
  }

  .main {
    width: 60%;
  }

  .main--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 0;
    width: 100%;
    height: 100vh;
    list-style: none;
  }

  .main--container1 {
    background-color: transparent;
    width: 30%;
    height: 80vh;
    perspective: 1000px;
  }

  .main--container2 {
    background-color: transparent;
    width: 30%;
    height: 80vh;
    perspective: 1000px;
  }
  
  .main--container1--inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .main--container1:hover .main--container1--inner,
  .main--container2:hover .main--container1--inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
  }

  .card-back img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.185);
  }
  
  .card-front {
    background-color:#cbe5c3;
    color: black;
    transform: rotateY(180deg);
  }

  figure {
    position: absolute;
    top: 25%;
    left: calc(50% - 5rem);
    width: 10rem;
    height: 10rem;
    background-color: white;
    margin: 0;
    border-radius: 50%;
    box-shadow: 1rem 2rem rgba(0, 0, 0, 0.39);
  }